@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ecn8na');
	src:url('../fonts/icomoon.eot?#iefixecn8na') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ecn8na') format('woff'),
		url('../fonts/icomoon.ttf?ecn8na') format('truetype'),
		url('../fonts/icomoon.svg?ecn8na#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-twitter:before {
	content: "\ea91";
}

