/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

script {
  display: none !important; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ecn8na");
  src: url("../fonts/icomoon.eot?#iefixecn8na") format("embedded-opentype"), url("../fonts/icomoon.woff?ecn8na") format("woff"), url("../fonts/icomoon.ttf?ecn8na") format("truetype"), url("../fonts/icomoon.svg?ecn8na#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-google-plus:before {
  content: "\ea88"; }

.icon-facebook:before {
  content: "\ea8c"; }

.icon-twitter:before {
  content: "\ea91"; }

* {
  box-sizing: border-box;
  cursor: default; }

a {
  text-decoration: none;
  color: #000;
  cursor: pointer; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.container {
  width: 100%; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh; }

nav {
  color: #fff;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  display: flex; }
  nav div:first-child {
    padding: 0 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    nav div:first-child img {
      align-self: center;
      height: 8.5vh;
      width: 8vh; }
    nav div:first-child p {
      margin: 0;
      align-self: center; }
  nav div:last-child {
    color: #fff;
    width: 40%;
    margin-left: auto;
    display: flex; }
    nav div:last-child ul {
      width: 100%;
      align-self: center;
      display: flex;
      justify-content: space-around; }
      nav div:last-child ul li {
        width: 20%; }
        nav div:last-child ul li a {
          text-align: center;
          color: #fff;
          display: block;
          height: 100%;
          width: 100%; }

.inner-container {
  margin: 0;
  font-family: 'Shadows Into Light', cursive; }
  .inner-container h1, .inner-container h2, .inner-container h3, .inner-container h4, .inner-container h5, .inner-container h6 {
    font-family: 'Indie Flower', cursive; }
  .inner-container section:first-child {
    background: url("../image/first.jpg") center center fixed no-repeat;
    background-size: cover; }
    .inner-container section:first-child > div {
      background: url("../image/dotted.png");
      color: #fff;
      font-size: 4vh;
      box-sizing: border-box;
      height: 100vh;
      width: 100%;
      padding-top: 14vh;
      display: flex;
      justify-content: center; }
      .inner-container section:first-child > div div {
        width: 100%;
        align-self: center; }
        .inner-container section:first-child > div div h2 {
          width: 100%;
          margin: 1vh 0;
          text-align: center; }
  .inner-container .temp > div,
  .inner-container .temp-2 > div {
    height: 100vh;
    width: 100%;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .inner-container .temp > div > div:first-child,
    .inner-container .temp-2 > div > div:first-child {
      display: flex;
      flex-direction: column; }
      .inner-container .temp > div > div:first-child h3, .inner-container .temp > div > div:first-child p,
      .inner-container .temp-2 > div > div:first-child h3,
      .inner-container .temp-2 > div > div:first-child p {
        width: 90%;
        align-self: center;
        text-align: center; }
      .inner-container .temp > div > div:first-child h3,
      .inner-container .temp-2 > div > div:first-child h3 {
        font-size: 1.6em; }
      .inner-container .temp > div > div:first-child p,
      .inner-container .temp-2 > div > div:first-child p {
        font-size: 1.3em; }
    .inner-container .temp > div > div:last-child,
    .inner-container .temp-2 > div > div:last-child {
      display: flex;
      justify-content: center; }
      .inner-container .temp > div > div:last-child div,
      .inner-container .temp-2 > div > div:last-child div {
        width: 27%;
        display: flex;
        flex-direction: column; }
        .inner-container .temp > div > div:last-child div h4,
        .inner-container .temp-2 > div > div:last-child div h4 {
          margin: 0;
          padding: 1px;
          height: 5vh; }
        .inner-container .temp > div > div:last-child div h4,
        .inner-container .temp > div > div:last-child div p,
        .inner-container .temp-2 > div > div:last-child div h4,
        .inner-container .temp-2 > div > div:last-child div p {
          width: 75%;
          align-self: center;
          text-align: justify; }
        .inner-container .temp > div > div:last-child div h4,
        .inner-container .temp-2 > div > div:last-child div h4 {
          text-align: center;
          font-size: 1.4em; }
        .inner-container .temp > div > div:last-child div p,
        .inner-container .temp-2 > div > div:last-child div p {
          font-size: 1.1em; }

.temp-2 {
  background: url("../image/second.jpg") center center fixed no-repeat;
  background-size: cover; }
  .temp-2 > div {
    background: url("../image/dotted.png");
    color: #fff; }

section:nth-child(4n) {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center; }
  section:nth-child(4n) div {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto; }
    section:nth-child(4n) div h3, section:nth-child(4n) div p {
      text-align: center; }
    section:nth-child(4n) div h3 {
      font-size: 1.6em; }
    section:nth-child(4n) div p {
      font-size: 1.3em; }

.odd {
  background: #F3F6FA; }

footer {
  font-family: 'Shadows Into Light', cursive;
  width: 100%;
  margin: 0;
  padding: 1px; }
  footer button, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em; }
  footer > div:first-child {
    padding-left: 10vw;
    display: flex;
    justify-content: center; }
    footer > div:first-child p {
      font-size: 1.1em; }
    footer > div:first-child div {
      width: 50%; }
    footer > div:first-child > div:first-child ul li:not(:first-child) {
      text-indent: 2vw;
      font-size: 1.1em; }
    footer > div:first-child > div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      footer > div:first-child > div:last-child button {
        width: 50%;
        box-shadow: none;
        border: none;
        background: #62535D;
        margin: 1vh 0;
        font-size: 1.5em; }
      footer > div:first-child > div:last-child ul {
        display: flex; }
        footer > div:first-child > div:last-child ul li {
          font-size: 2.5em; }
  footer > div:last-child {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.22);
    padding: 2vh 0;
    margin-top: 4vh;
    justify-content: center;
    font-weight: 300; }
    footer > div:last-child p {
      margin: 0;
      align-self: center; }

header,
section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.22); }

/*# sourceMappingURL=style.css.map */
