@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-cvwqal');
	src:url('../fonts/icomoon.eot?#iefix-cvwqal') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-cvwqal') format('woff'),
		url('../fonts/icomoon.ttf?-cvwqal') format('truetype'),
		url('../fonts/icomoon.svg?-cvwqal#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-back:before {
	content: "\e600";
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-twitter:before {
	content: "\ea91";
}

