/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

script {
  display: none !important; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-cvwqal");
  src: url("../fonts/icomoon.eot?#iefix-cvwqal") format("embedded-opentype"), url("../fonts/icomoon.woff?-cvwqal") format("woff"), url("../fonts/icomoon.ttf?-cvwqal") format("truetype"), url("../fonts/icomoon.svg?-cvwqal#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-back:before {
  content: "\e600"; }

.icon-google-plus:before {
  content: "\ea88"; }

.icon-facebook:before {
  content: "\ea8c"; }

.icon-twitter:before {
  content: "\ea91"; }

*,
*:after,
*:before {
  box-sizing: border-box; }

.container {
  font-family: 'Poiret One', cursive;
  background-color: #eb8181;
  width: 100%;
  font-size: 100%;
  line-height: 1.25;
  font-weight: 300; }

a {
  color: #FF2A48;
  text-decoration: none;
  outline: none; }

header {
  display: flex;
  align-content: center;
  width: 100%;
  height: 15vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13); }
  header ul {
    margin-left: 2vw;
    display: flex;
    width: 40%; }
    header ul li {
      font-size: 5vh;
      align-self: center;
      margin: 0 1vw; }

section {
  padding: 1em;
  text-align: center; }

.js .grid {
  background: url(../img/loading.gif) no-repeat 50% 100px; }
  .js .grid li {
    display: none;
    float: left; }
    .js .grid li img, .js .grid li h3 {
      visibility: hidden; }
.js .grid.loaded {
  background: none; }
  .js .grid.loaded li {
    display: block; }

.grid {
  width: 100%;
  margin: 30px auto;
  padding: 0;
  list-style: none;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .grid li.mid {
    width: 628px; }
  .grid li.small {
    width: 314px; }
  .grid li {
    width: 314px;
    overflow: hidden;
    text-align: left;
    vertical-align: top; }
    .grid li > a, .grid li img {
      display: block;
      outline: none;
      border: none; }
    .grid li img {
      height: auto;
      background-position: center center; }
    .grid li > a {
      position: relative;
      overflow: hidden;
      margin: 7px; }
    .grid li h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 20px;
      width: 100%;
      background: #2E3444;
      color: #D3EEE2;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 800;
      font-size: 1em;
      -webkit-transition: -webkit-transform 0.2s, color 0.2s;
      transition: transform 0.2s, color 0.2s; }
    .grid li > a::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100.5%;
      height: 100.5%;
      border: 0px solid transparent;
      background: transparent;
      content: '';
      -webkit-transition: border-width 0.2s, border-color 0.2s;
      transition: border-width 0.2s, border-color 0.2s; }
  .grid li.shown:hover h3 {
    color: #fff;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  .grid li.animate .curtain {
    -webkit-animation: swipeRight 1.5s cubic-bezier(0.6, 0, 0.4, 1) forwards;
    animation: swipeRight 1.5s cubic-bezier(0.6, 0, 0.4, 1) forwards; }
  .grid li.animate .curtain::after {
    -webkit-animation: fadeOut 1.5s ease forwards;
    animation: fadeOut 1.5s ease forwards;
    -webkit-animation-delay: inherit;
    animation-delay: inherit; }
  .grid .curtain {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #96cdc8;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  .grid .curtain::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    content: '';
    left: -100%; }
  .grid li.animate img,
  .grid li.animate h3 {
    -webkit-animation: showMe 1.5s step-end forwards;
    animation: showMe 1.5s step-end forwards; }
  .grid li.shown img,
  .grid li.shown h3 {
    visibility: visible; }

@-webkit-keyframes swipeRight {
  50%, 60% {
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(100%, 0, 0); } }
@keyframes swipeRight {
  50%, 60% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate(0); }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
@-webkit-keyframes fadeOut {
  50%, 60% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  50%, 60% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes showMe {
  from {
    visibility: hidden; }
  60%,
    100% {
    visibility: visible; } }
@keyframes showMe {
  from {
    visibility: hidden; }
  60%,
    100% {
    visibility: visible; } }
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  color: #fff;
  padding: 1px;
  height: 50vh;
  width: 100%;
  background-color: #8C989E;
  display: flex;
  justify-content: center; }
  footer div {
    margin: auto;
    display: flex;
    flex-direction: column; }
    footer div h6 {
      font-weight: 300;
      font-style: normal;
      margin: 0;
      padding: 0;
      align-self: center;
      font-size: 2.5vh; }
    footer div ul {
      align-self: center;
      display: flex; }
      footer div ul li {
        font-size: 4vh;
        padding: 1vw; }

/*# sourceMappingURL=style.css.map */
